 body, .about-component  {
    background-image: url("https://cdn.pixabay.com/photo/2016/08/05/09/31/banner-1571858_960_720.jpg");
    background-position: center;
    height: 100vh;
}

/* HEADER -------------------*/
header {
    height: auto;
    background-color: rgba(152, 216, 240, 0.768)
}

.header-text {
    Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color:black;
    font-weight: bolder;
    padding-top: 30px;
    font-size: 3em;
}


/* NAVBAR -------------------*/

.navBar {
    text-align: right;
    margin-top: 40px;
    position: relative;

}

.navlink {
    Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color: black;
    text-decoration: none;
    padding-right: 30px;
    font-stretch: expanded;
    font-size: 20px;
}

/* HOME----------------------*/
.poems-opening-text {
    padding-top: 3rem;
    text-align: center;
}

.poem-stack {
    padding: 1rem;
    margin: 5rem;
    background-color: rgba(152, 216, 240, 0.768);
}

.poem-title { 
    text-align: center;
    font-size: xx-large;
}

.poem-poet-name {
    text-align: center;
    font-size:larger;
    padding: 30px;
}

.poem-content {
    text-align: center;
    Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;

}

/* ABOUT ---------------------- */
.about-component {
    text-align: center;
}

.about-title {
    text-align: center;
    padding-top: 20px;
}

.about-content {
    Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    font-size: 2em; /* 1 em = to about 16px(default browser font size)*/
    text-align: center;
    margin: 5%;
    font-stretch: expanded;
}

.about-book-img {
    text-align: center;
    height: 50%;
    width: 50%;
}

/* FAVORITES ------------------ */
h5 {
    font-weight: bolder;
    text-decoration: underline;
}

/* FORM ----------------------- */
form {
    padding: 1rem;
}

input {
    width: 30rem;
    margin: 5rem;
    display: block;
}

/* BOOKLIST----------------- */

.cardParent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

.cardDiv {
    position: relative;
}

.card {
    margin: 15%;
}

/* FOOTER ------------------*/

footer {
    background-color:wheat;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}