#root {
    background-color: rgb(84, 191, 230);
    height: 100%;
}

/* HEADER -------------------*/
header {
    height: 10rem;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Ot6cyPQIgt63Q5uWC2ywqQHaHa%26pid%3DApi&f=1");
    background-position: center;

}

h1 {
    Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color:black;
    font-weight: bolder;
}


/* NAVBAR -------------------*/

.navBar {
    text-align: right;
    margin: 10px;
}

.navlink {
    Font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    color: rgb(145, 45, 158);
    text-decoration: none;
    padding-right: 30px;
    font-stretch: expanded;
    font-size: larger;
}

/* HOME----------------------*/
/* .poems-parent-div {
} */

.poem-stack {
    padding: 1rem;
    margin: 5rem;
}

.poem-title, .poem-poet-name { 
    text-align: center;
}

.poem-content {
    text-align: center;
}

/* FORM --------------------*/
form {
    padding: 1rem;
}

input {
    width: 30rem;
    margin: 5rem;
    display: block;
}

/* BOOKLIST----------------- */

.cardParent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

.cardDiv {
    position: relative;
}

.card {
    margin: 15%;
}

/* FOOTER ------------------*/

footer {
    text-align: center;
}